@page "/usertransactions/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager


<h3>View</h3>

<EditForm Model="@transaction">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled>
        <div class="form-group">
            <label>ListedItemOwner:</label>
            <div>
                <InputText @bind-Value="@transaction.ListedItemOwner" class="form-control" />
                <ValidationMessage For="@(() => transaction.ListedItemOwner)" />
            </div>
        </div>
        <div class="form-group">
            <label>ListedItemName:</label>
            <div>
                <InputText @bind-Value="@transaction.ListedItemName" class="form-control" />
                <ValidationMessage For="@(() => transaction.ListedItemName)" />
            </div>
        </div>
        <div class="form-group">
            <label>ListedItemPrice:</label>
            <div>
                <InputNumber @bind-Value="@transaction.ListedItemPrice" class="form-control" />
                <ValidationMessage For="@(() => transaction.ListedItemPrice)" />
            </div>
        </div>
        <div class="form-group">
            <label>BuyerName:</label>
            <div>
                <InputText @bind-Value="@transaction.BuyerName" class="form-control" />
                <ValidationMessage For="@(() => transaction.BuyerName)" />
            </div>
        </div>
        <div class="form-group">
            <label>TransactionType:</label>
            <div>
                <InputText @bind-Value="@transaction.TransactionType" class="form-control" />
                <ValidationMessage For="@(() => transaction.TransactionType)" />
            </div>
        </div>
        <div class="form-group">
            <label>OfferPrice:</label>
            <div>
                <InputNumber @bind-Value="@transaction.OfferPrice" class="form-control" />
                <ValidationMessage For="@(() => transaction.OfferPrice)" />
            </div>
        </div>
        <div class="form-group">
            <label>OfferItem:</label>
            <div>
                <InputText @bind-Value="@transaction.OfferItem" class="form-control" />
                <ValidationMessage For="@(() => transaction.OfferItem)" />
            </div>
        </div>
        <div class="form-group">
            <label>Status:</label>
            <div>
                <InputText @bind-Value="@transaction.Status" class="form-control" />
                <ValidationMessage For="@(() => transaction.Status)" />
            </div>
        </div>
    </fieldset>
    
    <BackToList Target="usertransactions" />

</EditForm>

@code {
    [Parameter] public int id { get; set; }
    Transaction transaction = new Transaction();
    protected async override Task OnParametersSetAsync()
    {
        transaction = await _client.GetFromJsonAsync<Transaction>($"{Endpoints.TransactionsEndpoint}/{id}");
    }
}