@page "/items/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3>Item Inventory</h3>

<br />
<a href="/items/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Item
</a>
<br />
<br />

@if (Items == null)
{

    <div class="alert alert-info">Loading Items...</div>

}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td>@item.Category.Name</td>
                    <td>@item.Brand.Name</td>
                    <td>
                        <a href="/items/view/@item.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/items/sell/@item.Id" class="btn btn-warning">
                            <span class="oi oi-dollar"></span>
                        </a>
                        <a href="/items/edit/@item.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete (item.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@code {

    private List<Item> Items;

    protected async override Task OnInitializedAsync()
    {
        Items = await _client.GetFromJsonAsync<List<Item>>($"{Endpoints.ItemsEndpoint}");
    }

    async Task Delete(int itemId)
    {
        var item = Items.First(q => q.Id == itemId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {item.Name}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.ItemsEndpoint}/{itemId}");
            await OnInitializedAsync();

        }
    }

}
