@page "/requests/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3>Requests</h3>

<br />
<a href="/requests/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    List New Request
</a>
<br />
<br />

@if (Requests == null)
{

    <div class="alert alert-info">Loading Requests...</div>

}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Item Requested</th>
                <th>Offer</th>
                <th>Payment</th>
                <th>Item For Trade</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Requests)
            {
            <tr>
                @if (ListItems != null)
                {
                    foreach (var listItem in ListItems)
                    {
                        if (@request.ListItemID == listItem.Id)
                        {
                            @if (Items != null)
                            {
                                foreach (var item in Items)
                                {
                                    if (@request.ListItem.ItemID == item.Id)
                                    {
                                        <td>@item.Name</td>
                                    }
                                }
                            }
                        }
                    }
                }
                <td>@request.Offer.Name</td>
                @if (@request.Offer.Name == "Transaction")
                {
                    <td>@request.Payment.Name</td>
                    <td>NIL</td>
                }
                @if (@request.Offer.Name == "Trade/Swap")
                {
                    <td>NIL</td>
                    <td>@request.Item.Name</td>
                }
                <td>
                    <a href="/requests/view/@request.Id" class="btn btn-primary">
                        <span class="oi oi-book"></span>
                    </a>
                    <a href="/requests/edit/@request.Id" class="btn btn-warning">
                        <span class="oi oi-pencil"></span>
                    </a>
                    <button class="btn btn-danger" @onclick="@(()=>Delete (request.Id))">
                        <span class="oi oi-delete"></span>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>

}

@code {

    private List<Request> Requests;
    private IList<ListItem> ListItems;
    private IList<Item> Items;

    protected async override Task OnInitializedAsync()
    {
        Requests = await _client.GetFromJsonAsync<List<Request>>($"{Endpoints.RequestsEndpoint}");
        ListItems = await _client.GetFromJsonAsync<List<ListItem>>($"{Endpoints.ListItemsEndpoint}");
        Items = await _client.GetFromJsonAsync<List<Item>>($"{Endpoints.ItemsEndpoint}");
    }

    async Task Delete(int requestId)
    {
        var request = Requests.First(q => q.Id == requestId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {request.Payment}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.RequestsEndpoint}/{requestId}");
            await OnInitializedAsync();

        }
    }

}
