@page "/admintraderequests/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@implements IDisposable
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpInterceptorService _interceptor


<h3>All Trade Requests</h3>

<br />
<a href="/admintraderequests/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Request
</a>
<br />
<br />

@if (TradeRequests == null)
{

    <div class="alert alert-info">Loading Requests...</div>

}
else
{
    <table class="table table-responsive" id="traderequestsTable">
        <thead>
            <tr>
                <th>Item Owner</th>
                <th>Item Requested</th>
                <th>Item Price($)</th>
                <th>Item For Trade</th>
                <th>Requested By</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var traderequest in TradeRequests)
            {

                <tr>
                    @if (ListItems != null)
                    {
                        foreach (var listItem in ListItems)
                        {
                            if (@traderequest.ListItemID == listItem.Id)
                            {
                                @if (Items != null)
                                {
                                    foreach (var item in Items)
                                    {
                                        if (@traderequest.ListItem.ItemID == item.Id)
                                        {
                                            <td>@item.CreatedBy</td>
                                            <td>@item.Name</td>

                                        }
                                    }
                                }
                            }
                        }
                    }
                    @if (ListItems != null)
                    {
                        foreach (var listItem in ListItems)
                        {
                            if (@traderequest.ListItemID == listItem.Id)
                            {
                                <td>@listItem.Price</td>
                            }
                        }
                    }
                    <td>@traderequest.Item.Name</td>
                    <td>@traderequest.CreatedBy</td>
                    <td>
                        <a href="/admintraderequests/view/@traderequest.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/admintraderequests/edit/@traderequest.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <a>
                            @if (ListItems != null)
                            {
                                foreach (var listItem in ListItems)
                                {
                                    if (@traderequest.ListItemID == listItem.Id)
                                    {
                                        @if (Items != null)
                                        {
                                            foreach (var item in Items)
                                            {
                                                if (@traderequest.ListItem.ItemID == item.Id)
                                                {
                                                    <a href="/admintraderequests/accept/@item.Id/@traderequest.Id/@traderequest.ItemID/@traderequest.ListItemID" class="btn btn-success">
                                                        <span class="oi oi-circle-check"></span>
                                                    </a>

                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Deny(traderequest.Id))">
                            <span class="oi oi-circle-x"></span>
                        </button>
                        <button class="btn btn-danger" @onclick="@(()=>Delete (traderequest.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>

            }
        </tbody>
    </table>

}

<EditForm Model="@transaction" OnValidSubmit="CreateTransaction">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div hidden>
        <div class="form-group">
            <label>Brand Name:</label>
            <div>
                <InputText @bind-Value="@transaction.ListedItemOwner" class="form-control" />
                <ValidationMessage For="@(() => transaction.ListedItemOwner)" />
            </div>
        </div>
        <div class="form-group">
            <label>Brand Name:</label>
            <div>
                <InputText @bind-Value="@transaction.ListedItemName" class="form-control" />
                <ValidationMessage For="@(() => transaction.ListedItemName)" />
            </div>
        </div>
        <div class="form-group">
            <label>Brand Name:</label>
            <div>
                <InputNumber @bind-Value="@transaction.ListedItemPrice" class="form-control" />
                <ValidationMessage For="@(() => transaction.ListedItemPrice)" />
            </div>
        </div>
        <div class="form-group">
            <label>Brand Name:</label>
            <div>
                <InputText @bind-Value="@transaction.BuyerName" class="form-control" />
                <ValidationMessage For="@(() => transaction.BuyerName)" />
            </div>
        </div>
        <div class="form-group">
            <label>Brand Name:</label>
            <div>
                <InputText @bind-Value="@transaction.TransactionType" class="form-control" />
                <ValidationMessage For="@(() => transaction.TransactionType)" />
            </div>
        </div>
        <div class="form-group">
            <label>Brand Name:</label>
            <div>
                <InputNumber @bind-Value="@transaction.OfferPrice" class="form-control" />
                <ValidationMessage For="@(() => transaction.OfferPrice)" />
            </div>
        </div>
        <div class="form-group">
            <label>Brand Name:</label>
            <div>
                <InputText @bind-Value="@transaction.OfferItem" class="form-control" />
                <ValidationMessage For="@(() => transaction.OfferItem)" />
            </div>
        </div>
        <div class="form-group">
            <label>Brand Name:</label>
            <div>
                <InputText @bind-Value="@transaction.Status" class="form-control" />
                <ValidationMessage For="@(() => transaction.Status)" />
            </div>
        </div>
    </div>
</EditForm>

@code {

    private List<TradeRequest> TradeRequests;
    private IList<ListItem> ListItems;
    private IList<Item> Items;
    private List<AppUser> AppUsers;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();
    private string _currentUserId;
    private string _currentUserName;
    private string _currentUserRole;

    Transaction transaction = new Transaction();

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        TradeRequests = await _client.GetFromJsonAsync<List<TradeRequest>>($"{Endpoints.TradeRequestsEndpoint}");
        ListItems = await _client.GetFromJsonAsync<List<ListItem>>($"{Endpoints.ListItemsEndpoint}");
        Items = await _client.GetFromJsonAsync<List<Item>>($"{Endpoints.ItemsEndpoint}");

        AppUsers = await _client.GetFromJsonAsync<List<AppUser>>($"{Endpoints.AccountsEndpoint}");
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            _claims = user.Claims;
            //_currentUserName = user.Identity.Name;
            if (_claims.Count() > 0)
            {
                foreach (var claim in _claims)
                {
                    if (claim.Type == "sub")
                    {
                        _currentUserId = claim.Value;
                        continue;

                    }
                    if (claim.Type == "name")
                    {
                        _currentUserName = claim.Value;
                        continue;
                    }
                }
            }
        }

        if (_currentUserId != String.Empty)
        {
            _currentUserRole = await _client.GetStringAsync($"{Endpoints.AccountsEndpoint}/{_currentUserId}");
        }
    }

    async Task Deny(int traderequestid)
    {
        foreach (var tr in TradeRequests)
        {
            if (tr.Id == traderequestid)
            {
                transaction.ListedItemOwner = tr.ListItem.CreatedBy;
                transaction.ListedItemName = tr.ListItem.Item.Name;
                transaction.ListedItemPrice = tr.ListItem.Price;
                transaction.BuyerName = tr.CreatedBy;
                transaction.TransactionType = "trade";
                transaction.OfferItem = tr.Item.Name;
                transaction.Status = "Denied";
            }

        }

        CreateTransaction();

        var traderequest = TradeRequests.First(q => q.Id == traderequestid);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete this request?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.TradeRequestsEndpoint}/{traderequestid}");
            await OnInitializedAsync();

        }

    }

    private async Task CreateTransaction()
    {
        await _client.PostAsJsonAsync(Endpoints.TransactionsEndpoint, transaction);
    }

    async Task Delete(int traderequestId)
    {
        var traderequest = TradeRequests.First(q => q.Id == traderequestId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete request?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.TradeRequestsEndpoint}/{traderequestId}");
            await OnInitializedAsync();

        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#traderequestsTable");

    }

    public void Dispose()
    {
        js.InvokeVoidAsync("DataTablesDispose", "#traderequestsTable");
        _interceptor.DisposeEvent();
    }

}
